/* 20px border body
 border color: #bdc3c7
 date color: #3498db
 h2 color: #2c3e50
 font: source sans pro
 body has an explicit width
 spacing between letters for date
 horizontal line is hr (google style)
 font-family: 'Source Sans Pro', sans-serif;
*/

.body-Frame {
	border: 20px solid #bdc3c7;
	width: 80%;
}

