/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}
/*Star* - Not seen often*/
* {
	border: 1px solid lightgrey;
}

/*Descenant Selector - Seen and used all the time*/
li a {
	color: red;
}

ul li a {
	border: 1px solid lightgrey;	
}

/*Adjacent Selector*/
h4 + ul {
	border: 4px solid red;
}

/*Attribute Selector - Really important*/
a [href="http://www.google.com"] {
   background: blue;
}

input [type="text"] {
	background: blue;
}

/*nth of type*/
li:nth-of-type(3)  {
	background: purple;
}

ul:nth-of-type(even) {
	background:purple;
}